{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h2>Jobs</h2>

<ul>
  {% for job in jobs %}
  <li>
    Job id <a href="{{ url_for('job.job_details', job_id=job.obj_id) }}">{{ job.obj_id }}</a>, {% if job.imported %} imported {% else %} created {% endif %} {{ job.dt_created|datetime }}
  </li>
  {% endfor %}
</ul>

{% if is_runner %}

<p>
  <a href="{{url_for('inputfile.input_file_list')}}" class="button">New job</a>
  <a href="{{url_for('job_browser.import_job')}}" class="button">Import job</a>
</p>

{% endif %}

{% endblock %}
