{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <h2>Model</h2>

    <p>Full model: {{ job.full_model.expr }}</p>
    <p>Reduced model: {{ job.reduced_model.expr }}</p>

    <h2>Num. features by confidence level</h2>

    <table>
      <tr>
        <th>Score</th>
        <th>Features</th>
      </tr>

      {% for i in range(fdr.summary_counts | length) %}
      <tr>
        <td>{{ fdr.summary_bins[i] }}</td>
        <td><a href="conf_level_{{i}}.html">{{ fdr.summary_counts[i] }}</a></td>
      </tr>
      {% endfor %}

    </table>

    <img src="counts_by_stat.png"></img>
    <img src="conf_by_stat.png"></img>

    <h2>Details</h2>

    <table>

      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="{{results.condition_names|length}}">Means</th>
        <th colspan="{{results.condition_names|length}}">Coefficients</th>
      </tr>

      <tr>
        <th>Feature num</th>
        <th>Feature id</th>

        <th>Score</th>
        <th>{{ job.stat_name }} stat</th>

        {% for name in results.condition_names %}
        <th>{{ name }}</th>
        {% endfor %}

        {% for name in results.condition_names %}
        <th>{{ name }}</th>
        {% endfor %}
      </tr>

      {% for i in range(job.num_features) %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ job.feature_ids[i] }}</td>

        <td>{{ "%.2f"|format(fdr.feature_to_score[i]) }}</td>

        <!-- Should get list of stats -->
        <td>{{ "%.2f"|format(results.stats[i]) }}</td>

        <!-- Mean for each condition -->
        {% for mean in results.means.swapaxes(0, 1)[i] %}
        <td>{{ "%.2f"|format(mean) }}</td>
        {% endfor %}

        <!-- Coefficient for each condition -->
        {% for coeff in results.coeffs.swapaxes(0, 1)[i] %}
        <td>{{ "%.2f"|format(coeff) }}</td>
        {% endfor %}

      </tr>
      {% endfor %}

    </table>

{% endblock %}
