{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <h2>Model</h2>

    <p>Full model: {{ job.full_model.expr }}</p>
    <p>Reduced model: {{ job.reduced_model.expr }}</p>

    <h2>Num. features by confidence level</h2>

    <table>
      <tr>
        <th>Score</th>
        <th>Features</th>
      </tr>

      {% for i in range(fdr.summary_counts | length) %}
      <tr>
        <td>{{ fdr.summary_bins[i] }}</td>
        <td><a href="conf_level_{{i}}.html">{{ fdr.summary_counts[i] }}</a></td>
      </tr>
      {% endfor %}

    </table>

    <img src="counts_by_stat.png"></img>
    <img src="conf_by_stat.png"></img>

{% endblock %}
