<html>
  <head>
    <title>PaGE Output</title>
  </head>

  <link rel="stylesheet" type="text/css" href="styles.css"></link>

  <body>

    Confidence level: {{ results.conf_levels[level] }}
    <table>
      <tr>nn
        <th>Class</th>
        <th>Up</th>
        <th>Down</th>
      </tr>
      {% for c in condition_nums %}
      <tr>
        <td>{{job.condition_names[c]}}</td>
        <td>{{results.alphas[results.up.best_params[c, level], c]}}</td>
        <td>{{results.alphas[results.down.best_params[c, level], c]}}</td>
      </tr>
        {% endfor %}
    </table>

    <table>
      <tr>
        <th>Feature</th>
        {% for c in condition_nums %}
        <th colspan="3">{{job.condition_names[c]}}</th>
        {% endfor %}
      </tr>

      <tr>
        <th></th>
        {% for c in condition_nums %}
        <th>dir</th>
        <th>conf</th>
        <th>stat</th>
        {% endfor %}
      </tr>
      
    {% for feature_idx in feature_nums if any_determination[level, feature_idx]%}
      <tr>
        <td>{{feature_idx}}</td>
        {% for c in  condition_nums %}

        {% set det_classes = ["baseline", "up_regulated", "down_regulated"] %}
        {% set determination_names = ["", "up", "down"] %}

        {% set det_class = det_classes[determination[level, c, feature_idx]] %}

        <td class="{{det_class}}">{{determination_names[determination[level, c, feature_idx]]}}</td>

        <td class="{{det_class}}">{{"%.2f"|format(100.0 * feature_to_conf[level, c, feature_idx])}}%</td>

        <td class="{{det_class}}">{{"%.2f"|format(feature_to_stat[level, c, feature_idx])}}</td>




        {% endfor %}

      </tr>
      {% endfor %}
    
    </table>
    
  </body>

</html>
