{% extends "base.html" %}
{% block title %}Results at {{ "{0:.1%} confidence".format(results.conf_levels[level]) }}{% endblock %}
{% block content %}

<h1>Details for {{ "{0:.1%}".format(results.conf_levels[level]) }} confidence level</h1>

<h2>Statistic distribution</h2> 

<p>
  These plots show the distribution
  of the statistic for each class, using the value of &alpha; that
  maximizes the number of features chosen at confidence level {{
  "{0:.1%}".format(results.conf_levels[level]) }}. The cutoff for
  this confidence level is shown with a vertical line. There is a
  separate histogram for up- and down-regulation, because we may
  choose a different value of alpha for up vs. down.
</p>

<div class="grid_5 alpha">
  <h3>Up-regulation</h3>
</div>

<div class="grid_5 omega">
  <h3>Down-regulation</h3>
</div>

{% for c in range(1, results.num_classes) %}

<div class="grid_5 alpha">
  <a href="{{ hists[0, level, c] }}">
    <img src="{{ hists[0, level, c] }}"></img>
  </a>
</div>
<div class="grid_5 omega">
  <a href="{{ hists[1, level, c] }}">
    <img src="{{ hists[1, level, c] }}"></img>
  </a>
</div>

{% endfor %}

<h2>T-stat tuning parameter values</h2>

<table>
  <tr>
    <th>Class</th>
    <th>Up</th>
    <th>Down</th>
  </tr>
  {% for c in range(1, results.num_classes) %}
  <tr>
    <td>{{job.condition_names[c]}}</td>
    <td>{{results.alphas[results.best_params[0, level, c], c]}}</td>
    <td>{{results.alphas[results.best_params[1, level, c], c]}}</td>
  </tr>
  {% endfor %}
</table>

<h2>Differentially expressed features</h2>

<p>
  This table has a row for any feature that was found to be either
  up- or down-regulated in any of the classes, at confidence level
  {{ "{0:.1%}".format(results.conf_levels[level]) }}. For features
  that are up-regulated, we show the confidence, and the statistic
  using the &alpha; value chosen for up-regulation at confidence
  level {{ "{0:.1%}".format(results.conf_levels[level]) }}. For
  features that are down-regulated, we show the same, but using
  the &alpha; value chosen for down-regulation at this confidence
  level. For features that are not differentially expressed in a
  condition, we do not show a confidence or a statistic, because
  the value of alpha that we should use is ambiguous.
</p>

<table>
  <tr>
    <th>Feature</th>
    {% for c in range(1, results.num_classes) %}
    <th colspan="3">{{job.condition_names[c]}}</th>
    {% endfor %}
  </tr>

  <tr>
    <th></th>
    {% for c in range(1, results.num_classes) %}
    <th>dir</th>
    <th>conf</th>
    <th>stat</th>
    {% endfor %}
  </tr>
  
  {% for feature_idx in range(results.num_features) if any_determination[level, feature_idx]%}
  <tr>
    <td>{{feature_idx}}</td>
    {% for c in  range(1, results.num_classes) %}

    {% set det_classes = ["baseline", "up_regulated", "down_regulated"] %}
    {% set determination_names = ["", "up", "down"] %}

    {% set det_class = det_classes[determination[level, c, feature_idx]] %}

    <td class="{{det_class}}">{{determination_names[determination[level, c, feature_idx]]}}</td>

    <td class="{{det_class}}">{{"%.2f"|format(100.0 * feature_to_conf[level, c, feature_idx])}}%</td>

    <td class="{{det_class}}">{{"%.2f"|format(feature_to_stat[level, c, feature_idx])}}</td>


    {% endfor %}

  </tr>
  {% endfor %}
  
</table>

{% endblock %}
