
.up_regulated {
    color: green;
}

.down_regulated {
    color: red;
}

table.details {
  border: 1px solid lightgray;
}

td.details {
  border: 1px solid lightgray;
  text-align: right;
}

th.details {
  border: 1px solid lightgray;
}

table.feature_detail td {
  text-align: right;
  border: 1px solid lightgray;
}

table.feature_detail th {
  text-align: right;
  border: 1px solid lightgray;
}


table.feature_detail_by_alpha td {
  text-align: right;
  border: 1px solid lightgray;
}

table.feature_detail_by_alpha th {
  text-align: right;
  border: 1px solid lightgray;
}

fieldset {
  border-style: solid;
  border-color: #000000;
}        