{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h2>Add factor</h2>

<p>
  You need to define at least one "factor" that will be used to group
  the samples together. Please enter the name of a factor, and list the
  possible values for that factor. For example, you might have a factor
  called "gender" with possible values "male" and "female", or one
  called "treated" with possible values "yes" and "no".
</p>

<form action="{{url_for('add_factor')}}" method="post">
  {{ form.factor_name.label }}: {{ form.factor_name()|safe }} 
  <br/>
  Possible values:
  
  <ul>
    {% for entry in form.possible_values %}
    <li>{{ entry|safe }}</li>
    {% endfor %}
  </ul>

  {{ forms.cancel() }} 
  {{ forms.previous(url_for('column_roles')) }}
  {{ form.submit(class='button') }}

  {% if allow_next %}
  | <a href="{{url_for('factor_list')}}" class="button">Cancel factor addition</a>
  {% endif %}
</form>

<p>
  <em>TODO: Allow flexible number of factor values</em>
</p>

{% endblock %}
