{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<table>

Working with input file {{input_file_meta.name}}.

Editing factor {{factor}}.

<h2>Column labels</h2>

<p>
  Next you need to tell me which column contains the feature ids and
  which ones contain the samples. You also need to label the sample
  columns with the factor values you created above.
</p>

<form action="{{url_for('column_labels')}}" method="post">

  <table>
    <tr>
      <th>Field name</th>
      {% for f in factors %}
      <th>{{f}}</th>
      {% endfor %}
    </tr>
    
    {% set entry_num = 0 %}
    {% for col in column_names %}

    <tr>
      <td>{{ col }}</td>

      {% for f in factors %}

      <td>

        {{ form.assignments[entry_num]()|safe() }}
        {% set entry_num = entry_num + 1 %}
      </td>
      {% endfor %}

    </tr>
    {% endfor %}
    
  </table>
  <p>
    {{ forms.cancel() }} {{ forms.previous(url_for('factor_list'))}}
    <input type="submit" value="Update" class="button"></input>  

  </p>

</form>





{% endblock %}

