{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<table>

Working with input file {{input_file_meta.name}}.

Editing factor {{factor}}.

<h2>Column labels</h2>

<p>
  Next you need to tell me which column contains the feature ids and
  which ones contain the samples. You also need to label the sample
  columns with the factor values you created above.
</p>

<form action="{{url_for('column_labels')}}" method="post">

  <table>
    <tr>
      <th>Field name</th>
      <th>Role</th>
      {% for f in schema.factors %}
      <th>{{f}}</th>
      {% endfor %}
    </tr>
    
    {% for name in schema.column_names %}

    {% set col_num = loop.index0 %}
    {% set role    = schema.column_roles[col_num] %}

    <tr>
      <td>{{ name }}</td>
      <td>{{ role }}</td>

      {% for f in schema.factors %}
      {% set factor_num = loop.index0 %}
      <td>

        {% if role == 'sample' %}
        {% set selected_value = schema.get_factor(name, f) %}
        <select name="factor_value_{{col_num}}_{{factor_num}}">
          {% for v in schema.factor_values[f] %}
          <option value="{{v}}" {% if selected_value == v %} selected="selected" {% endif %} >{{v}}</option>
          {% endfor %}
        </select>
        {% endif %}

      </td>
      {% endfor %}

    </tr>
    {% endfor %}
    
  </table>
  <p>
    {{ forms.cancel() }}
    | <a href="{{url_for('factor_list')}}">Previous</a>
    | <input type="submit" value="Update"></input>  
  </p>

</form>





{% endblock %}

