{% extends "base.html" %}
{% block title %}Details for score >= {{ min_score }}, page {{ page_num + 1 }} of {{ num_pages }} {% endblock %}
{% block content %}

<h3>Sorting options</h3>
  <ul>
    <li><a href="{{url_for('details', conf_level=conf_level, page=page_num, order='score_original')}}">Score (filtered by score, fall back to original)</a></li>
    <li><a href="{{url_for('details', conf_level=conf_level, page=page_num, order='foldchange_original')}}">Fold change (filtered by score, fall back to original)</a></li>
    <li><a href="{{url_for('details', conf_level=conf_level, page=page_num)}}">Original ordering (filtered by score)</a></li>
  </ul>
</h3>

<table class="details">

  <tr>
    <th class="details"></th>
    <th class="details"></th>
    <th class="details"></th>
    <th class="details" colspan="{{group_names|length}}">Mean</th>
    <th class="details" colspan="{{group_names|length}}">Fold Change</th>
    <th class="details" colspan="{{coeff_names|length}}">Coefficient</th>
  </tr>

  <tr>
    <th class="details">Feature id</th>
    
    <th class="details">Score</th>
    <th class="details">{{ stat_name }} stat</th>

    {% for name in group_names %}
    <th class="details">{{ name }}</th>
    {% endfor %}

    {% for name in group_names %}
    <th class="details">{{ name }}</th>
    {% endfor %}

    {% for name in coeff_names %}
    <th class="details">{{ name }}</th>
    {% endfor %}
  </tr>

  {% for i in range(feature_ids|length) %}
  <tr>
    <td class="details">{{ feature_ids[i] }}</td>

    <!-- Confidence score -->
    <td class="details">{{ "%.4f"|format(scores[i]) }}</td>

    <!-- Statistic value -->
    <td class="details">{{ "%.2f"|format(stats[i]) }}</td>

    <!-- Mean for each condition -->
    {% for mean in means[i] %}
    <td class="details">{{ "%.2f"|format(mean) }}</td>
    {% endfor %}

    <!-- Mean for each condition -->
    {% for fc in fold_change[i] %}
    <td class="details">{{ "%.2f"|format(fc) }}</td>
    {% endfor %}

    <!-- Coefficient for each condition -->
    {% for coeff in coeffs[i] %}
    <td class="details">{{ "%.2f"|format(coeff) }}</td>
    {% endfor %}

  </tr>
  {% endfor %}

</table>

<p>
  Page {% for i in range(num_pages) %}
  {% if i == page_num %}
  {{ page_num + 1}}
  {% else %}
  <a href="{{url_for('details', conf_level=conf_level, page=i
           )}}">{{ i + 1 }}</a>
  {% endif %}
  {% endfor %}
</p>


{% endblock %}
