{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<table>

Here is the schema we have so far:

<table>
  <tr>
    <th>Field name</th>
    <th>Role</th>
    {% for f in schema.factors %}
    <th>{{f}}</th>
    {% endfor %}
  </tr>
    
  {% for name in schema.column_names %}
  
  {% set col_num = loop.index0 %}
  {% set role    = schema.column_roles[col_num] %}

  <tr>
    <td>{{ name }}</td>
    <td>{{ role }}</td>
    
    {% for f in schema.factors %}
    {% set factor_num = loop.index0 %}
    <td>

      {% if role == 'sample' %}
      {{ schema.get_factor(name, f) }}
      {% endif %}

    </td>
    {% endfor %}

  </tr>
  {% endfor %}
</table>

If you're done labeling the columns of the input file: 

<a href="{{url_for('setup_job')}}">Setup the job</a>

<a href="{{url_for('clear_job_scratch')}}">Clear job scratch space</a>
{% endblock %}

