{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<table>

Factors:
<ul>
{% for f in schema.factors %}
<li>{{ f }} (<a href="{{url_for('delete_factor', name=f)}}">delete</a>)
  Possible values:
  <ul>
    
    {% for v in schema.factors[f] %}
    <li>{{ v }}</li>
    {% endfor %}
    
    <li>
      <form action="{{url_for('add_factor_value', factor=f)}}" method="post">
        <p>
          <input type="text" name="factor_value"></input>
          <input type="submit" value="Add value"></input>
        </p>
      </form> 
    </li>
  </ul>

</li>
{% endfor %}
<li>
  <form action="{{url_for('add_factor')}}" method="post">
    <p>
      <input type="text" name="name"></input>
      <input type="submit" value="Add factor"></input>
    </p>
  </form>
</li>
</ul>

<form action="{{url_for('upload_input_file')}}" method="post" enctype="multipart/form-data">
  <p>
    Choose input file to upload:
    <input type="file" name="input_file"/>
    <input type="submit" value="Upload"/>
  </p>
</form>

{% if filename %}

Working with input file {{filename}}.

<form action="{{url_for('update_columns')}}" method="post">

  <table>
    <tr>
      <th>Field name</th>
      <th>Role</th>
      {% for f in schema.factors %}
      <th>{{f}}</th>
      {% endfor %}
    </tr>
    
    {% for name in schema.column_names %}

    {% set col_num = loop.index0 %}
    {% set role    = schema.column_roles[col_num] %}

    <tr>
      <td>{{ name }}</td>
      <td> 
        <select name="role_{{loop.index0}}" value="{{schema.column_roles[loop.index0]}}">
          <option value="ignored"    {% if role == None         %} selected="selected" {% endif %} > </option>
          <option value="feature_id" {% if role == 'feature_id' %} selected="selected" {% endif %} >Feature ID</option>
          <option value="sample"     {% if role == 'sample'     %} selected="selected" {% endif %} >Sample </option>
        </select>
      </td>
      {% for f in schema.factors %}
      {% set factor_num = loop.index0 %}
      <td>

        {% if name in schema.sample_column_names %}
        {% set selected_value = schema.get_factor(name, f) %}
        {% endif %}

        <select name="factor_value_{{col_num}}_{{factor_num}}">
          <option value=""></option>
          {% for v in schema.factor_values(f) %}
          <option value="{{v}}" {% if selected_value == v %} selected="selected" {% endif %} >{{v}}</option>
          {% endfor %}
        </select>
        
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    
  </table>
  <p>
    <input type="submit" value="Update"></input>  
  </p>

</form>

{% endif %}

<a href="{{url_for('clear_job_scratch')}}">Clear job scratch space</a>
{% endblock %}
