{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<table>

Factors:
<ul>
{% for f in schema.factors %}
<li>{{ f }} (<a href="{{url_for('delete_factor', name=f)}}">delete</a>)
  Possible values:
  <ul>
    
    {% for v in schema.factors[f] %}
    <li>{{ v }}</li>
    {% endfor %}
    
    <li>
      <form action="{{url_for('add_factor_value', factor=f)}}" method="post">
        <p>
          <input type="text" name="factor_value"></input>
          <input type="submit" value="Add value"></input>
        </p>
      </form> 
    </li>
  </ul>

</li>
{% endfor %}
<li>
  <form action="{{url_for('add_factor')}}" method="post">
    <p>
      <input type="text" name="name"></input>
      <input type="submit" value="Add factor"></input>
    </p>
  </form>
</li>
</ul>

<form action="{{url_for('upload_input_file')}}" method="post" enctype="multipart/form-data">
  <p>
    Choose input file to upload:
    <input type="file" name="input_file"/>
    <input type="submit" value="Upload"/>
  </p>
</form>

{% if filename %}

Working with input file {{filename}}.

<form action="{{url_for('edit_factors_form')}}" method="post">

  <table>
    <tr>
      <th>Field name</th>
      <th>Role</th>
      {% for f in schema.factors %}
      <th>{{f}}</th>
      {% endfor %}
    </tr>
    
    {% for name in schema.column_names %}
    <tr>
      <td>{{ name }}</td>
      <td> 
        <select name="role_{{loop.index0}}" value="{{schema.column_roles[loop.index0]}}">
          {% if schema.column_roles[loop.index0] == 'feature_id' %}
          <option value="ignored"></option>
          <option value="feature_id" selected="selected">Feature ID</option>
          <option value="sample">Sample</option>
          {% elif schema.column_roles[loop.index0] == 'sample' %}
          <option value="ignored"></option>
          <option value="feature_id">Feature ID</option>
          <option value="sample" selected="selected">Sample</option>
          {% else %}
          <option value="ignored"></option>
          <option value="feature_id">Feature ID</option>
          <option value="sample" selected="selected">Sample</option>
          {% endif %}
          
        </select>
      </td>
      {% for f in schema.factors %}
      <th>{{f}}</th>
      {% endfor %}
    </tr>
    {% endfor %}
    
  </table>
</form>

{% endif %}

<a href="{{url_for('clear_job_scratch')}}">Clear job scratch space</a>
{% endblock %}
