{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h2>Factors</h2>

<p>
  Here are the factors you've defined so far. If you have more factors,
  you should <a href="{{url_for('add_factor')}}">add them now</a>,
  otherwise you can continue <a href="{{url_for('column_labels')}}">to
    the next step</a>.
</p>

<ul>
  {% for form in factor_forms %}
  <li>
    {{ form.factor_name.data }} (<a href="{{url_for('remove_factor', factor=form.factor_name.data)}}"> delete </a>)  </li>
  <ul>
    {% for entry in form.possible_values %}
    {% if entry.data|length() > 0 %}
    <li>{{entry.data}}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}

</ul>

<p>
  {{ forms.cancel() }} 
  {{ forms.previous(url_for('column_roles')) }}
  <a href="{{url_for('add_factor')}}" class="button">Add another factor</a>
  <a href="{{url_for('column_labels')}}" class="button">Next</a>
</p>

{% endblock %}
