{% extends "base.html" %}
{% block title %}Feature {{ feature_id }} {% endblock %}
{% block content %}

<p>Feature number: {{ feature_num }}</p>
<p>Feature id: {{ feature_id }}</p>

TODO: 

<ul>
  <li>Show the mean for each group</li>
  <li>Show the stat and score for each value of the tuning param</li>
  <li>Show the mean number of features with stat above this stat for each value of tuning param</li>
</ul>

<h2>Details for feature {{ feature_id }}</h2>

<table class="feature_detail">

  <tr>
    <th></th>
    <th></th>
    <th colspan="{{ factors | length }}">Factors</th>
  </tr>

  <tr>
    <th>Column name</th>

    {% for f in factors %}
    <th>{{ f }}</th>
    {% endfor %}
    <th>Measured value</th>

  </tr>

  {% for grp in layout %}
  {% for i in grp %}
  
  <tr>
    <td>{{ sample_names[i] }}</td>
    {% for f in factors %}
    <td> {{ factor_values[sample_names[i]][f] }} </td>
    {% endfor %}
    <td>{{ measurements[i] }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>

<h2>Plots</h2>

<h3>This shows the mean and standard deviation of the measurements for each group</h3>
<img src="{{ url_for('measurement_bars', feature_num=feature_num) }}"></img>

<h3>This shows the actual measured values for each group</h3>
<img src="{{ url_for('measurement_scatter', feature_num=feature_num) }}"></img>

<table>
  {% for i in range(tuning_params|length) %}
  <tr>
    <td>{{ tuning_params[i] }}</td>
    <td>{{ stats[i] }}</td>
    <td>{{ scores[i] }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
