{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

    <h2>Job settings</h2>

    <table>
      <tr>
        <td>Statistic:</td>
        <td>{{ job.settings.stat_name }}</td>
      </tr>

      <tr>
        <td>Number of bins:</td>
        <td>{{ job.settings.num_bins }}</td>
      </tr>

      <tr>
        <td>Number of samples:</td>
        <td>{{ job.settings.num_samples }}</td>
      </tr>


      <tr>
        <td>Sample from residuals:</td>
        <td>{{ job.settings.sample_from_residuals }}</td>
      </tr>
      <tr>
        <td>Sample with replacement:</td>
        <td>{{ job.settings.sample_with_replacement }}</td>
      </tr>

      <tr>
        <td>Condition variables</td>
        <td>{{ job.settings.condition_variables|join(', ') }}</td>
      </tr>

      <tr>
        <td>Block variables</td>
        <td>{{ job.settings.block_variables|join(', ') }}</td>
      </tr>

      <tr>
        <td>Tuning params</td>
        <td>{{ job.settings.tuning_params|join(', ') }}</td>
      </tr>

      <tr>
        <td>Equalize means</td>
        <td>{{ job.settings.equalize_means }}</td>
      </tr>

      <tr>
        <td>Minimum confidence</td>
        <td>{{ job.settings.min_conf }}</td>
      </tr>
      <tr>
        <td>Confidence interval</td>
        <td>{{ job.settings.conf_interval }}</td>
      </tr>

    </table>

    <h2>Num. features by confidence level</h2>

    <table>
      <tr>
        <th>Score</th>
        <th>Features</th>
      </tr>

      {% for i in range(job.summary.counts | length) %}
      <tr>
        <td>{{ job.summary.bins[i] }}</td>
        <td><a href="{{url_for('details', conf_level=i)}}">{{ job.summary.counts[i] }}</a></td>
      </tr>
      {% endfor %}

    </table>

    <img src="counts_by_stat.png"></img>
    <img src="conf_by_stat.png"></img>

{% endblock %}
