{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h2>Raw input files</h2>

{% for s in input_file_metas %}

<div class="grid_12 input_file_summary">

<div class="grid_5 alpha">
  
  <a href="{{url_for('input_file_details', raw_file_id=s.obj_id)}}">{{ s.name }}</a>
  <br/>
  {{ s.size }} bytes, uploaded {{ s.dt_created|datetime }} <br/>

</div>

<div class="grid_7 omega">
  <em>{{ s.description }}</em>
</div>
</div>

{% endfor %}

<div class="input_file_summary grid_12">
  <a href="{{url_for('upload_raw_file')}}" class="button">Upload new file</a>
</div>
{% endblock %}
