{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<h2>Other settings</h2>


<form action="job_settings" method="post">

  <p>
    {{form.statistic.label}}: {{ form.statistic()|safe }}
  </p>

  <fieldset>
    <legend>Advanced options:</legend>
    <em>(You can probably leave all these unchanged)</em>
    <p>
      {{form.tuning_params.label}}: {{ form.tuning_params()|safe }}
    </p>
    <p>
      {{form.bins.label}}: {{ form.bins(size=6)|safe }} |
      {{form.permutations.label}}: {{ form.permutations(size=6)|safe }}
    </p>
    <p>
      {{ form.sample_from_residuals()|safe }} {{form.sample_from_residuals.label}}  |
      {{ form.sample_with_replacement()|safe }} {{form.sample_with_replacement.label}} |
      {{ form.equalize_means()|safe }} {{form.equalize_means.label}}
    </p>
    <p>
      {{form.summary_min_conf_level.label}}: {{ form.summary_min_conf_level(size=5)|safe }} |
      {{form.summary_step_size.label}}: {{ form.summary_step_size(size=5)|safe }}
    </p>

    {{ forms.cancel() }}
    {{ forms.previous(url_for('setup_job_factors')) }}
    {{ form.submit(class='button') }}

  </fieldset>

</form>

{% endblock %}
